<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <div style="width:400px;">
            {{form.review.label}}
            {{form.review(style='height: 100px;width:400px;')}}
            {% if form.review.errors %}
                {% for err in form.review.errors %}
                    <p> {{err}} </p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{form.submit}}
        </div>
    </form>
    <div>
        {% with prediction = get_flashed_messages()%}
            {% if prediction %}
                {% if prediction[0] == 1 %}
                    <p> Negative sentiment </p>
                {% else %}
                    <p> Positive sentiment </p>
                {% endif %}
            {% endif %}
        {% endwith %}

    </div>
</body>
</html>